.rabota__container{
}
.rabota__body{
    display: flex;
}
.text__title{
    font-size: 36px;
    font-weight: 700;
    color: #ffe898;
    margin: 0px 0px 50px 0px;
}
.text__block{
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.rabota__item{
    background-color: #0d5c63;
    margin-right: 15px;
    /*flex: 1 1;*/
}

/*------------------------------------------------------------------------------------------------------------------------*/

.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.services__column{
    display: flex;
    flex-wrap: wrap;
}
.services__item{
    background: #2D343C;
    border: 1px solid #D4C17F;
    /*margin: auto;*/
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px 9px 0px 10px;
}

.sercices__container{
    /*margin: 0 auto;*/
}


.services__item img{
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
}

.page2{
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (max-width: 1025px) {
    .page2{
        margin-top: 25%;
    }
}
@media (max-width: 1025px) {
    .page2{
        margin-top: 30%;
    }
}

@media (max-width: 769px) {
    .services__column{
        margin-left: 55px;
    }
}

@media (max-width: 541px) {
    .page2{
        margin-top: 45%;
    }
    .services__column{
        margin-left: 0px;
    }
}

@media (max-width: 481px) {
    .page2{
        margin-top: 155%;
    }
    .services__column{
        margin-left: 25px;
    }
}

@media (max-width: 426px) {
    .page2{
        margin-top: 165%;
    }
    .services__column{
        margin-left: 0px;
    }
}

@media (max-width: 376px) {
    .page2{
        margin-top: 185%;
    }
    .services__column{
        margin-left: 40px;
    }
}

@media (max-width: 321px) {
    .page2{
        margin-top: 215%;
    }
    .services__column{
        margin-left: 30px;
    }
}


/*--------------------------------------------Мы производим---------------------------------------------------------------*/


.rabota__container{
}
.rabota__body{
    display: flex;
}
.text__title{
    font-size: 36px;
    font-weight: 700;
    color: #D4C17F;
    margin: 0px 0px 50px 0px;
}
.text__block{
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.rabota__item{
    background-color: #0d5c63;
    margin-right: 15px;
    /*flex: 1 1;*/
}

/*------------------------------------------------------------------------------------------------------------------------*/

.proizvod__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.proizvod__column{
    display: grid;
    grid-template-rows: 50% 50%;
}
.proizvod__item{
    max-height: 93px;
    /*background: #2D343C;*/
    border: 2px solid #D4C17F;
    /*margin: auto;*/
    margin-bottom: 10px;
    margin-right: 10px;
    /*padding: 8px 9px 0px 10px;*/
}

.proizvod__container{
    /*margin: 0 auto;*/
}

.proizvod__item img{
    margin: 0 auto;
}
.proizvod__up{
    display: flex;
}
.proizvod__down{
    display: flex;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .proizvod__up{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .proizvod__down{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}


@media (max-width: 321px) {
    .proizvod__column{
        grid-template-rows: 100%;
    }
    .proizvod__up{
        display: flex;
        flex-direction: column;
    }
    .proizvod__down{
        margin-top: -160px ;
        display: grid;
        grid-template-columns: 100%;
    }
}