.map__body{
    display: grid;
    grid-template-columns: 50% 50%;
}

.map_left{

}

.map_right{
    height: 400px;
}

@media (max-width: 600px) {
    .map__body{
        grid-template-columns: 100%;
    }
}

.map__title_con{
    display: flex;
    align-items: center;
}

.map__title_con img{
    margin-right: 10px;
}
.map_metca{
    margin-right: 10px;
}